<div class="container mt-5 mb-5 text-center">
    <img src="assets/not-found.jpg" class="img" alt="ProductImage">
    <h2>Oops! Are you on the wrong page?</h2>
    <p>Don't worry, we're here to help you!</p>
    <p>It looks like you've landed on a page that doesn't exist.</p>
    <p>Please refer to the following button to continue shopping:</p>
    <div class="row">
        <div class="col">
            <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Home</a>
        </div>
        <div class="col">
            <a routerLink="/about" routerLinkActive="active" class="btn btn-primary">About</a>
        </div>
        <div class="col">
            <a routerLink="/product-list" routerLinkActive="active" class="btn btn-primary">Browse Products</a>
        </div>
    </div>

</div>