<div class="container mt-5 mb-5 text-center">
    <img src="assets/not-found.png" class="img" alt="ProductImage">
    <h2>Oops! Are you on the wrong page?</h2>
    <p>Don't worry, we're here to help you!</p>
    <p>It looks like you've landed on a page that doesn't exist.</p>
    <p>Please refer to the following button to go to login page </p>
    <div class="row">
        <div class="col">
            <a routerLink="/login" routerLinkActive="active" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>