$error-color: red;
$success-color: green;
$background-color: rgb(210, 200, 200);
$box-shadow-color: rgba(0, 0, 0, 0.5);
$first-color: #ccecf6;
$second-color: #ffebb2;

.error {
    border: 1px solid $error-color;
}
.success {
    border: 1px solid $success-color;
}
.radio-buttons {
    display: flex;
    flex-direction: row;
}
.radio-button {
    margin-right: 10px;
}
.btn {
    margin: 3% 0 0 13%;
    width: 75%;
}
.box {
    border-radius: 50px;
    background-image: linear-gradient($first-color, $second-color);
}
