<div class="container w-50 h-100 mt-3 mb-5">
    <div class="row">
        <h1 class="text-center">Add User</h1>
        <div class="box offset-md-1 col-md-10 p-4 border border-3 mb-5 rounded shadow">
            <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="mt-2">
                <div class="form-group mt-2">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter first name here"
                        formControlName="firstName" [ngClass]="validationClass(addUserForm.get('firstName'))">
                    <span *ngIf="isFieldInvalid(addUserForm.get('firstName'))" class="text-danger">
                        First name is required.
                    </span>
                </div>
                <div class="form-group mt-2">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter last name here"
                        formControlName="lastName" [ngClass]="validationClass(addUserForm.get('lastName'))">
                    <span *ngIf="isFieldInvalid(addUserForm.get('lastName'))" class="text-danger">
                        Last name is required.
                    </span>
                </div>
                <div class="form-group mt-2">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" class="form-control"
                        placeholder="Enter email here" [ngClass]="validationClass(addUserForm.get('email'))">
                    <span *ngIf="isFieldInvalid(addUserForm.get('email'))" class="text-danger"> Email is
                        required</span>
                    <span *ngIf="emailPattern(addUserForm.get('email'))" class="text-danger">
                        Please Enter valid email
                    </span>
                </div>
                <div class="form-group mt-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                        formControlName="password" [ngClass]="validationClass(addUserForm.get('password'))">
                    <span *ngIf="isFieldInvalid(addUserForm.get('password'))" class="text-danger">
                        Password is required.
                    </span>
                    <span *ngIf="addUserForm.get('password')?.errors?.['pattern']" class="text-danger">
                        Password must be 6-12 characters long and include at least 1 uppercase letter, 1 lowercase
                        letter, '@' symbol, and number.
                    </span>
                </div>
                <div class="form-group mt-2">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword"
                        placeholder="Enter confirm password" formControlName="confirmPassword"
                        [ngClass]="validationClass(addUserForm.get('confirmPassword'))">
                    <span *ngIf="isFieldInvalid(addUserForm.get('confirmPassword'))" class="text-danger">
                        Confirm password is required.
                    </span>
                    <span
                        *ngIf="addUserForm.get('confirmPassword')?.errors?.['passwordMatch'] && (addUserForm.get('confirmPassword')?.dirty || addUserForm.get('confirmPassword')?.touched)"
                        class="text-danger">
                        Confirm password does not match with your password
                    </span>
                </div>
                <div class="form-group mt-2">
                    <label>Gender</label>
                    <div class="radio-buttons">
                        <div *ngFor="let gender of genders" class="radio-button">
                            <input type="radio" [id]="gender" [value]="gender" formControlName="gender" name="gender" />
                            <label [for]="gender" class="ms-2">{{ gender }}</label>
                        </div>
                        <span *ngIf="isFieldInvalid(addUserForm.get('gender'))" class="text-danger">
                            Gender is required.
                        </span>
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="hobbies">Hobbies</label>
                    <select id="hobbies" formControlName="hobbies" class="form-control"
                        [ngClass]="validationClass(addUserForm.get('hobbies'))">
                        <option value="" selected>Select your hobby</option>
                        <option *ngFor="let hobby of hobbies" [value]="hobby">{{ hobby }}</option>
                    </select>
                    <span *ngIf="isFieldInvalid(addUserForm.get('hobbies'))" class="text-danger">Hobbies are required.
                    </span>
                </div>
                <button type="submit" class="btn btn-primary mb-5" [disabled]="addUserForm.invalid">Add User</button>
            </form>
        </div>
    </div>
</div>