<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>

    <header class="header">
        <nav>
            <div class="logo">
                <h1>MyBlog</h1>
            </div>
            <ul>
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(1)">About</a></li>
                <li><a href="javascript:void(0)">Contact</a></li>
                <li><a href="javascript:void(1)">Blogs</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>