$background-color: rgb(32, 33, 33);
$text-color: white;

footer {
  margin: 0px;
  padding: 0px;
  background-color: $background-color;
  color: $text-color;

  p {
    text-align: center;
    font-size: 20px;
    font-style: italic;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      padding: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
