<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Document</title>
</head>
<body>
    <footer>
        <p>&copy; Jenish Devmurari</p>
        <div class="social-icons">
            <a href="https://github.com/username" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/username/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/username" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/username" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
    </footer>
    
</body>
</html>
