$first-color: #ccecf6;
$second-color: #ffebb2;

.btn {
    margin: 3% 0 0 13%;
    width: 75%;
}
.link-text {
    text-decoration: none;
}
.container {
    margin-top: 10%;
    background-image: linear-gradient($first-color, $second-color);
}
