$error-color: red;
$success-color: green;
$background-color: rgb(210, 200, 200);
$box-shadow-color: rgba(0, 0, 0, 0.5);
.error {
    border: 1px solid $error-color;
}
.success {
    border: 1px solid $success-color;
}
.radio-buttons {
    display: flex;
    flex-direction: row;
}

.radio-button {
    margin-right: 10px;
}

.btn {
    margin: 3% 0 0 13%;
    width: 75%;
}
.link-text {
    text-decoration: none;
}

.row {
    width: 80%;
    box-shadow: 0px 0px 10px 0px $box-shadow-color;
    border: 3px solid $background-color;
    border-radius: 10px;
    margin-left: 10%;
}
