<div appTaskTwo>
    <h1>Task 2</h1>
    <p>Based on the specific client requirement, we developed a webcam-based software solution in such a
        specific way as it can simultaneously monitor and record multiple webcams. With support for both motion
        detection
        and sound detection, the webcam lets you keep an eye on your property from a remote location. WOW right? We
        strive
        to provide every single project with the same encouragement and wish to deliver the same remarkable web
        development
        service of creating something original, superior and exceptional. Since then, we’ve successfully implemented
        over
        500 projects for more than different clients in almost all the industries.
    </p>
</div>