$error-color: red;
$success-color: green;
$first-color: #ccecf6;
$second-color: #ffebb2;

.error {
    border: 1px solid $error-color;
}
.success {
    border: 1px solid $success-color;
}
.radio-buttons {
    display: flex;
    flex-direction: row;
}
.radio-button {
    margin-right: 10px;
}
.box {
    border-radius: 50px;
    background-image: linear-gradient($first-color, $second-color);
}
