<button class="btn btn-primary" (click)="goBack()"> &larr; Go To Product Page</button>

<div class="container" *ngIf="product">
    <h3 class="text-center mb-4">Product Details</h3>
    <div class="row">
        <div class="col-md-3 mt-5 mb-5">
            <div class="card h-100">
                <img [src]="product.imgUrl" class="card-img card-img-top" alt="ProductImage">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Price: ₹{{ product.price }}</p>
                    <p class="card-text">Size: {{ product.size }}</p>
                    <button routerLink="/payment" class="btn btn-primary">Make Payment</button>
                    <button [routerLink]="['/product-detail']" [queryParams]="{id: product.id}" class="btn btn-primary"
                        (click)="toggleAvailability()">Is Available</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row text-center" *ngIf="showAvailability">
    <div class="col-md-12">
        <h2>Availability Details</h2>
        <p>{{product?.isAvailable}}</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-12">
        <h2>Display Parameter of Product Task-4</h2>
        <p>Product ID: {{ productId }}</p>
        <p>Size: {{ size }}</p>
        <p>Color: {{ color }}</p>
    </div>
</div>