<div class="container mt-5 text-center">

    <h2 class="text-center mb-4">About Us</h2>

    <div class="row">
        <div id="story">

            <h3>
                <a [routerLink]="['/about']" fragment="story">Our Story</a>
            </h3>

            <p>
                My Mart was founded in 2024 with a simple mission: to provide customers with high-quality products at
                affordable prices.
            </p>
            <p>
                Since then, we have grown into a leading online retailer, offering a wide range of products spanning
                various categories, including electronics, fashion, home goods, and more.
            </p>
        </div>
        <div id="mission">
            <h3>
                <a [routerLink]="['/about']" fragment="mission">Our Mission</a>
            </h3>
            <p>
                At My Mart, our mission is to make shopping convenient and enjoyable for everyone. We strive to exceed
                our customers' expectations by offering exceptional products, outstanding customer service, and
                hassle-free shopping experiences.
            </p>
        </div>
    </div>
    <div id="team">

        <h3>
            <a [routerLink]="['/about']" fragment="team">Our Team</a>
        </h3>
        <p>
            Our team is comprised of dedicated individuals who are passionate about delivering excellence in
            everything we do. From our customer service representatives to our warehouse staff, each member plays a
            crucial role in ensuring our customers receive the best possible shopping experience.
        </p>
    </div>
    <div id="value">
        <h3>
            <a [routerLink]="['/about']" fragment="value">Our Value</a>
        </h3>
        <p>
            At My Mart, we are guided by a set of core values that define who we are and how we operate. These
            values include integrity, innovation, diversity, and customer-centricity. We believe in treating our
            customers, employees, and partners with respect and fairness at all times.
        </p>
    </div>

</div>