<div class="row">
    <div class="col-xs-12">
        <p>Add Book</p>
        <label>Book Title</label>
        <input type="text" class="form-control s-20" #inputRef>
        <label>Book Author</label>
        <input type="text" class="form-control">
        <label>Book Price</label>
        <input type="text" class="form-control">
        <label>Book Description</label>
        <textarea name="textareaName" id="textareaId" rows="4" cols="25" class="form-control"></textarea>
        <br>
        <button class="btn btn-primary">Add Book</button>
    </div>
</div>