<app-book-action [book]="selectedBook" [isEditMode]="isEditMode" (bookAdded)="onBookAdded($event)"
    (bookEdited)="updateBook($event)"></app-book-action>
<app-book [books]="books" (deleteConfirmation)="deleteConfirmation($event)" (viewClick)="viewBook($event)"
    (edit)="editBook($event)" (viewStock)="viewStock($event)" [stockCount]="stockCount"></app-book>
<app-book-details [selectedBook]="selectedBookInfo"></app-book-details>
<app-confirmation-dialog-box (confirmed)="onDeleteConfirmed($event)"></app-confirmation-dialog-box>