.book-card {
    border: 2px solid #92e05b;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-left: 5%;
}

.book-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.book-card p {
    font-size: 16px;
    margin-bottom: 5px;
}

.btn {
    background-color: rgb(88, 147, 88);
    border: none;
    border-radius: 5%;
    color: white;
    height: 25px;
}
