$first-color: #ccecf6;
$second-color: #ffebb2;

.card {
    height: 250px;
    border-radius: 10px;
    background-image: linear-gradient($first-color, $second-color);
}
.icons {
    position: absolute;
    bottom: 10px;
}
.create {
    margin: 2% 0 0 2%;
}
