<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img [src]="product?.imageUrl" class="image" alt="{{ product?.name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ product?.name }}</h2>
            <p>{{ product?.description }}</p>
            <p><strong>Category:</strong> {{ product?.category }}</p>
            <p><strong>Brand:</strong> {{ product?.brand }}</p>
            <p><strong>Availability:</strong> {{ product?.availability }}</p>
            <p><strong>Rating:</strong> {{ product?.rating }} / 5</p>
            <p><strong>Price:</strong> {{ product?.price | currency:'INR'}}</p>
            <button class="btn btn-success">Add to Cart</button>
        </div>
    </div>
    <hr>
    <h3 class="mt-4">Product Reviews</h3>
    <ng-container *ngIf="product?.reviews; else noReview">
        <div class="row">
            <div *ngFor="let review of product?.reviews" class="card mt-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ review.reviewer }} </h5>
                    <p class="card-text">{{ review.rating }}</p>
                    <p class="card-text">{{ review.comment }}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noReview>
        <div class="row">
            <p>No reviews available for this product.</p>
        </div>
    </ng-template>