<div class="container mt-1">
    <div class="row justify-content-center">
        <h1 class="text-center">Bacancy Technology</h1>
        <div class="col-md-6">
            <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="mt-5">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{'error': companyForm.get('name')?.invalid && (companyForm.get('name')?.dirty || companyForm.get('name')?.touched),
                        'success': companyForm.get('name')?.valid}">
                    <span
                        *ngIf="companyForm.get('name')?.invalid && (companyForm.get('name')?.dirty || companyForm.get('name')?.touched)"
                        class="text-danger">
                        Name is required.
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'error': companyForm.get('email')?.invalid && (companyForm.get('email')?.dirty || companyForm.get('email')?.touched),
                    'success': companyForm.get('email')?.valid}">
                    <span
                        *ngIf="companyForm.get('email')?.errors?.['required'] && (companyForm.get('email')?.dirty || companyForm.get('email')?.touched)"
                        class="text-danger"> Email is
                        required</span>
                    <span *ngIf="companyForm.get('email')?.errors?.['pattern']" class="text-danger">Please
                        enter valid email
                        format</span>
                </div>
                <div class="form-group">
                    <label for="website">Website:</label>
                    <input type="text" id="website" formControlName="website" class="form-control" [ngClass]="{'error': companyForm.get('website')?.invalid && (companyForm.get('website')?.dirty || companyForm.get('website')?.touched),
                    'success': companyForm.get('website')?.valid}">
                    <span
                        *ngIf="companyForm.get('website')?.errors?.['required'] && (companyForm.get('website')?.dirty || companyForm.get('website')?.touched)"
                        class="text-danger">
                        Website is
                        required.
                    </span>
                    <span *ngIf="companyForm.get('website')?.errors?.['invalidWebsiteFormat']"
                        class="text-danger">Please enter valid website(Like www.bacancy.com)</span>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" formControlName="phone" class="form-control" [ngClass]="{'error': companyForm.get('phone')?.invalid && (companyForm.get('phone')?.dirty || companyForm.get('phone')?.touched),
                    'success': companyForm.get('phone')?.valid}">
                    <span
                        *ngIf="companyForm.get('phone')?.errors?.['required'] && (companyForm.get('phone')?.dirty || companyForm.get('phone')?.touched)"
                        class="text-danger">
                        Phone number is
                        required.
                    </span>
                    <span *ngIf="companyForm.get('phone')?.errors?.['invalidPhoneNumberFormat']"
                        class="text-danger">Please enter valid phone number(like +916789012345)</span>
                </div>
                <div *ngIf="companyForm.get('projects')">
                    <div class="project form-group">
                        <div formArrayName="projects">
                            <div *ngFor="let project of getProjectControl(); let i = index">
                                <h3>Project {{i+1}}</h3>
                                <div [formGroupName]="i">
                                    <div class="form-group">
                                        <label for="projectName">Project Name:</label>
                                        <input type="text" id="projectName" formControlName="name" class="form-control"
                                            [ngClass]="{'error': project.get('name')?.invalid && (project.get('name')?.dirty || project.get('name')?.touched),
                                        'success': project.get('name')?.valid}">
                                        <span
                                            *ngIf="project.get('name')?.errors?.['required'] && (project.get('name')?.dirty || project.get('name')?.touched)"
                                            class="text-danger"> Project name is
                                            required</span>
                                        <span *ngIf="project.get('name')?.errors?.['projectNameExist']"
                                            class="text-danger">This project name is already exist</span>
                                        <span *ngIf="project.get('name')?.errors?.['isWhiteSpace']"
                                            class="text-danger">This project name is not start or end with space</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="projectDescription">Project Description:</label>
                                        <input type="text" id="projectDescription" formControlName="description"
                                            class="form-control" [ngClass]="{'error': project.get('description')?.invalid && (project.get('description')?.dirty || project.get('description')?.touched),
                                            'success': project.get('description')?.valid}">
                                        <span
                                            *ngIf="project.get('description')?.errors?.['required'] && (project.get('description')?.dirty || project.get('description')?.touched)"
                                            class="text-danger"> Project description is
                                            required</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="startDate">Start Date:</label>
                                        <input type="date" id="startDate" formControlName="startDate"
                                            class="form-control" [ngClass]="{'error': project.get('startDate')?.invalid && (project.get('startDate')?.dirty || project.get('startDate')?.touched),
                                            'success': project.get('startDate')?.valid}">
                                        <span
                                            *ngIf="project.get('startDate')?.errors?.['required'] && (project.get('startDate')?.dirty || project.get('startDate')?.touched)"
                                            class="text-danger"> Project start date is
                                            required</span>
                                        <span *ngIf="project.get('startDate')?.errors?.['isStartDateValid']"
                                            class="text-danger"> Project start date is not greater than end date please
                                            enter
                                            valid end date
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="endDate">End Date:</label>
                                        <input type="date" id="endDate" formControlName="endDate" class="form-control"
                                            [ngClass]="{'error': project.get('endDate')?.invalid && (project.get('endDate')?.dirty || project.get('endDate')?.touched),
                                        'success': project.get('endDate')?.valid}">
                                        <span
                                            *ngIf="project.get('endDate')?.errors?.['required'] && (project.get('endDate')?.dirty || project.get('endDate')?.touched)"
                                            class="text-danger"> Project endDate is
                                            required
                                        </span>
                                        <span *ngIf="project.get('endDate')?.errors?.['isDateValid']"
                                            class="text-danger"> Project end date is not less than start date please
                                            enter
                                            valid end date
                                        </span>
                                    </div>
                                    <button type="button" (click)="removeProject(i)" class="btn btn-danger mt-3">Remove
                                        Project</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="addProject()" class="btn btn-primary">Add Project</button>
                </div>
                <button type="submit" [disabled]="companyForm.invalid" class="submit btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid mt-3" *ngIf="isSubmitted">
    <div class="row">
        <div class="offset-md-3 col-md-6 border p-3">
            <h4 class="text-center">Company Details</h4>
            <p>Name: {{ formData.name }}</p>
            <p>Email: {{ formData.email }}</p>
            <p>Phone: {{ formData.phone }}</p>
            <p>Website: {{ formData.website }}</p>
            <p>Projects:</p>
            <ul>
                <li class="mt-2" *ngFor="let project of formData.projects; let i = index">
                    <h4>Project {{ i + 1 }}</h4>
                    <p>ProjectName: {{ project.name }}</p>
                    <p>description:{{ project.description }}</p>
                    <p>Start: {{ project.startDate }}</p>
                    <p>End: {{ project.endDate }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>