$first-color: #ccecf6;
$second-color: #ffebb2;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-not-available {
    @include center();
    border-radius: 5%;
    font-size: 30px;
}
.gender-img-container {
    @include center();
    height: 150px;
}
.gender-img {
    border-radius: 100%;
    max-width: 100%;
    max-height: 100%;
}
.card {
    background-image: linear-gradient($first-color, $second-color);
    height: 450px;
}
