.container-not-available {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gender-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.gender-img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    border-radius: 50px;
}
