<ng-container *ngIf="cart && cart.length > 0 ; else emptyCart">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let product of cart">
                <app-card [product]="product" [showDetailButton]="detailButton" [showCartButton]="cartButton"
                    [showDeleteButton]="deleteButton"></app-card>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #emptyCart>
    <div class="container text-center my-5">
        <div class="row">
            <div class="col-12">
                <div class="mt-4">
                    <img src="assets/empty-cart.png" alt="Empty Cart" class="img-fluid"
                        [ngStyle]="{'max-width': '300px'}">
                </div>
                <h2 class="text-dark">Oops!</h2>
                <p>Your cart is currently empty.</p>
                <p>Don't miss out on our latest products and special offers. Visit our product section and find
                    something you'll love!</p>
                <a routerLink="../product/product-list" class="btn btn-primary btn-lg mt-3">Go to Product Section</a>
            </div>
        </div>
    </div>
</ng-template>