<!-- identify and fix errors for below snippets  -->
<!-- NOTES:
1. project should run without any compile time errors
2. should be able to add employees and remove all employees.
(currently last one is not getting deleted) -->

<!-- START: Snippet 1 -->
<div>
    <!-- change titel  to title -->
    <h1>{{ title }}</h1>
</div>
<!-- END: Snippet 1 -->

<!-- START: Snippet 2 -->
<!-- <div>
    <p>Hello, {{ user.name }}</p>
  </div> -->
<!-- END: Snippet 2 -->

<!-- START: Snippet 3 -->
<!-- <div class="employee-list-container m-3">
    <button class="btn btn-primary" (click)="addEmp()">Add Employees</button>
    <ul *ngIf="employees" class="employee-list mt-3">
      <li *ngForr="let emp of employees; let i = index" class="employee-item">
        {{ emp }}
        <span class="remove-btn" (click)="onRemoveEmp(i)">X</span>
      </li>
    </ul>
  </div> -->
<!-- END: Snippet 3 -->