<div class="container">
    <div class="row">
        <h1 class="text-center mb-4">Posts</h1>
        <div *ngFor="let post of posts" class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <div class="post-actions">
                    <button class="btn btn-link" (click)="likePost()">
                        <i class="fa-regular fa-heart" ></i>
                    </button>
                    <button class="btn btn-link">
                        <i class="fa-regular fa-comment m-3"></i>
                    </button>
                    <button class="btn btn-link">
                        <i class="fa-brands fa-telegram m-1"></i>
                    </button>
                </div>
                <a [routerLink]="'detail/' + post.id">Read More</a>
            </div>
        </div>
        <a [routerLink]="'/create-post'" routerLinkActive="active"><button class="w-1 btn btn-primary mb-5">New
                Post</button></a>
    </div>
</div>
<router-outlet></router-outlet>