<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-list</title>
</head>

<body>
    <div>
        <input type="text" class="searchbar" placeholder="Search" [(ngModel)]="searchItem">
        <button class="searchbutton" (click)="searchBlog()">Search</button>
    </div>

    <div class="blog-list-result">

        <div *ngFor="let blog of searchBlogs" class="blog-card-result">
            <h2>{{ blog.title }}</h2>
            <p>{{ blog.content }}</p>
        </div>
    
    </div>
    <div class="blog-list">
        
        <div *ngFor="let blog of blogs" class="blog-card">
          
            <h2>{{ blog.title }}</h2>
            <p>{{ blog.content }}</p>
        </div>
        
       
    </div>
    
   
</body>

</html>