.navbar {
    background-color: rgb(118, 246, 246);
}

.nav-item {
    a {
        text-decoration: none;
        color: black;
        margin: 10px;
    }
}

a.active {
    font-size: 18px;
    font-weight: bolder;
}
a.logout {
    cursor: pointer;
}
