<div class="container mt-5 mb-5">
    <h3 class="text-center mb-4">All Products</h3>
    <div class="row">
        <div class="col-md-3 mt-5 mb-5" *ngFor="let product of products">
            <div class="card h-100">
                <img [src]="product.imgUrl" class="card-img card-img-top" alt="ProductImage">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Price: ₹{{ product.price }}</p>
                    <a href="product-detail/:id" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>