$first-color: #ccecf6;
$second-color: #ffebb2;

.card {
    height: 250px;
    border-radius: 10px;
    background-image: linear-gradient($first-color, $second-color);
}
.icon {
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    color: red;
}
