$first-color: #ccecf6;
$second-color: #ffebb2;
$red-color: red;

.card {
    height: 250px;
    border-radius: 10px;
    background-image: linear-gradient($first-color, $second-color);
}
.icon {
    position: absolute;
    bottom: 5px;
    font-size: 20px;
    color: $red-color;
}

.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.container-not-available {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
