<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Store
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Store Name:</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="store.name">
                </div>
                <div class="form-group">
                    <label for="description">Store Owner Name</label>
                    <textarea class="form-control" id="description" [(ngModel)]="store.owner"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addStore()"> Add Store </button>
                </div>
            </div>
        </div>
    </div>