<ng-container *ngIf="usersData && usersData.length > 0; else noData">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let user of usersData">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
                        <p class="card-text">Email: {{ user.email }}</p>
                        <p class="card-text">Gender: {{ user.gender }}</p>
                        <p class="card-text">Hobbies: {{ user.hobbies }}</p>
                        <i class="fa fa-trash text-danger"
                            [ngStyle]="{ 'font-size': '25px', 'margin-right': '10px','cursor':'pointer' }"
                            (click)="deleteUser(user.email)"></i>
                        <i [ngClass]="user.isActive ? 'fa fa-toggle-on text-success' : 'fa fa-toggle-off text-secondary'"
                            [ngStyle]="{ 'font-size': '25px', 'margin-left': '10px','cursor':'pointer' }"
                            (click)="activeToggle(user.email)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-template #noData>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>No Users available.</p>
            </div>
        </div>
    </div>
</ng-template>