<h1> Task - 1 Data Binding - Create a variable in the component and display the value in the text box inside the HTML
    file.</h1>
<h3>Simply created One username variable in component.ts file and using one way data binding string interpolation
    and display that variable value into input text </h3>
<input type="text" value="{{username}}">


<hr>
<hr>
<hr>
<hr>

<h1>Task - 2</h1>
<h2>String Interpolation - Create a Json object in TS file and display the JSON in the html file (no console
    log).Take the "USER" JSON object from below and display the main fields like Name, Age, Gender, Blood Group,
    Height (max 4-5 important fields) in a simple tabular structure or simple format like this:
    Name : Ketan Solanki
    Email : ketan.solanki@bacancy.com
</h2>

<div>
    <table class="info-table">
        <tr>
            <td>Name: </td>
            <td> {{user.firstName}} {{user.maidenName}} {{user.lastName}}</td>
        </tr>

        <tr>
            <td>Age: </td>
            <td> {{user.age}}</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td> {{user.email}} </td>
        </tr>
        <tr>
            <td>Phone No: </td>
            <td> {{user.phone}} </td>
        </tr>
        <tr>
            <td>Gender: </td>
            <td> {{user.gender}} </td>
        </tr>

    </table>
</div>
<hr>
<hr>
<hr>
<hr>

<h1>Task - 3</h1>
<h2>Event Binding - Create one button named as Hide info. On clicking the Hide button, hide the info and change the
    name of the button from "Hide" to "Show". And if the button name is “Show” then on clicking the "Show" button we
    need to display the info again (a simple toggle effect).

</h2>



<p [hidden]="info">{{ title }}</p>
<p>On click in below button above text is hide and after clicking on show text is display (using property binding and
    event binding)
</p>
<button (click)="toggleEffect()">{{ button }}</button>


<hr>
<hr>
<hr>
<hr>


<h1>Task - 4</h1>
<h2>Two way binding - Create one form with the main user fields mentioned in task 2. Display the whole user's JSON
    object in the html file. And on any changes in the form the same should be reflected in the JSON data which has
    been displayed over the form in the same page. Use FormsModule and ngModel to accomplish this task. And show it
    below the form via string interpolation.
</h2>


<form class="user-form">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="user.firstName">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email">
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" [(ngModel)]="user.age">
    </div>
    <div>
        <label for="email">PhoneNo:</label>
        <input type="tel" id="phone" name="phone" maxlength="10" [(ngModel)]="user.phone">
    </div>
    <div>
        <label for="gender">Gender:</label>

        <select id="gender" name="gender" [(ngModel)]="user.gender">
            <option value="" selected>Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
    </div>
</form>

<div class="information">
    <h3> Name :{{user.firstName}}</h3>
    <h3> Email :{{user.email}}</h3>
    <h3> Phone :{{user.phone}}</h3>
    <h3> Age :{{user.age}}</h3>
    <h3> Gender:{{user.gender}}</h3>
</div>