<div class="product-grid">

    <div class="product-card" *ngFor="let prod of product" [ngClass]="'prodCard'"
        [ngStyle]="{'border-bottom' : prod.isAvailable ? '5px solid green':'5px solid red'}">

        <img [src]="prod.imgUrl" class="card-img card-img-top" alt="Product Image">

        <p [ngStyle]="{'text-align' :'center'}">{{prod.description}}</p>

        <p class="text-center">Price :{{prod.price}}</p>

        <p class="discount-price-text text-center"> DiscountPrice :<s> {{prod.price}}</s> <strong
                [ngStyle]="{'margin-left':'10px'}">{{prod.discountPrice}}</strong> </p>

        <p [ngClass]="'available-text-center'"
            [ngStyle]="{'color' : prod.isAvailable ? 'green':'red','font-weight':'700'}">{{prod.isAvailable ?
            "Available In stock" :"NotAvailable In stock"}}</p>

        <button *ngIf="prod.isAvailable" [ngClass]="'buy-btn'">Buy</button>
    </div>

</div>