<div class="container mt-5 bg-info">
    <h1 class="text-center">Child </h1>
    <div class="row">
        <h1>List of persons (array)</h1>
        <div class="col-md-3 mb-4" *ngFor="let person of persons">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Name: {{ person.name }}</p>
                    <p class="card-text">Age: {{ person.age }}</p>
                    <p class="card-text">Gender: {{ person.gender }}</p>
                    <button class="btn btn-primary" (click)="deletePerson(person)">Delete</button>
                    <button data-bs-toggle="modal" data-bs-target="#editPersonModal1" class="btn btn-primary ms-2"
                        (click)="editPerson(person)">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>Person (object)</h1>
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Name: {{ person.name }}</p>
                    <p class="card-text">Age: {{ person.age }}</p>
                    <p class="card-text">Gender: {{ person.gender }}</p>
                    <button class="btn btn-primary ms-2" (click)="increaseAge()">increase age</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPersonModal1" tabindex="-1" aria-labelledby="editPersonModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPersonModalLabel1">Edit Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="currentPerson.name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" class="form-control" id="age" [(ngModel)]="currentPerson.age" name="age">
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <input type="text" class="form-control" id="gender" [(ngModel)]="currentPerson.gender"
                            name="gender">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="savePerson(currentPerson)"
                    data-bs-dismiss="modal">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>