// @import "~ngx-toastr/toastr";
// @import "~ngx-toastr/toastr-bs4-alert";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~ngx-toastr/toastr-bs4-alert";

.custom-toast-error {
    width: 200px;
    height: 70px;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(217, 81, 81);
    color: black;
    position: fixed;
    top: 30;
    left: 50%;
    transform: translateX(-50%);
}
