.card {
    border: 3px solid silver;
    border-radius: 15px;

    .card-img {
        width: 100%;
        height: 300px;
        border-radius: 13px;
    }
}

a {
    text-decoration: none;
    color: black;
}
