<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">My Cart</h5>
                <p>
                    Your one-stop shop for all your needs. Find the best products at the best prices. From electronics
                    to fashion, home essentials to personal care, we have it all. Enjoy seamless shopping with secure
                    payment options and fast delivery
                </p>
                <p>
                    Our mission is to provide high-quality products and exceptional customer service. We continuously
                    update our inventory to bring you the latest trends and innovations. Shop with confidence and
                    discover a world of convenience and savings.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a routerLink="/home" class="text-white">Home</a>
                    </li>
                    <li>
                        <a routerLink="/product" class="text-white">Products</a>
                    </li>
                    <li>
                        <a routerLink="/cart" class="text-white">Cart</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="info@mycart.com" class="text-white">Email: info&#64;mycart.com</a>
                    </li>
                    <li>
                        <p class="text-white">Phone: 123 456 7890</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
        © 2024 myCart
    </div>
</footer>