<!-- Button to open the Add Bookstore modal -->
<button type="button" class="btn btn-primary mt-2 ml-5" data-bs-toggle="modal" data-bs-target="#bookstoremodal">
    Add Bookstore
</button>

<!-- Add Bookstore Modal -->
<div class="modal fade" id="bookstoremodal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add store</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="storeName">Store Name:</label>
                    <input type="text" id="storeName" class="form-control" [(ngModel)]="store.name" />
                </div>
                <div class="form-group">
                    <label for="storeOwner">Store Owner:</label>
                    <input type="text" id="storeOwner" class="form-control" [(ngModel)]="store.owner" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" (click)="addStore()">
                    Add Store
                </button>
            </div>
        </div>
    </div>
</div>

<!-- this part render store  -->
<div class="stores">
    <div *ngFor="let store of stores; let i = index" class="store">
        <h3>{{ store.name }}</h3>
        <p>Owner: {{ store.owner }}</p>
        <app-list-book [index]="i" class="booklist-card"></app-list-book>
    </div>
</div>